.movieList {
  &-container {
    margin: 20px 0;
  }

  &-heading {
    margin: 20px 0;
    font-size: 2.2rem;
    font-weight: 700;
  }

  &-lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 640px) {
  .movieList {
    &-lists {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
}
