.watchMeta {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 32px;
    overflow: hidden;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 6px;

    &:last-child::after {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 100rem;
      background-color: var(--purple);
      right: -25px;
    }
  }

  &-areas {
    display: flex;
    gap: 8px;
  }
}
