.page404 {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    min-height: 100vh;
    padding: 10px;
    text-align: center;

    a {
      margin-top: 20px;
    }
  }

  &-heading {
    font-size: 8rem;
    line-height: 1;
    background-image: var(--gradient-purple);
  }

  .title {
    color: #f6eafb;
    font-size: 2.2rem;
    font-weight: 700;
  }

  .description {
    color: var(--grayc4);
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 767.98px) {
  .title {
    font-size: 2.4rem;
  }

  .description {
    font-size: 2rem;
  }
}
